{% import 'macros/form.html' as form %}
<div class="form-group col-md-12 no-margin-bottom"> 
  <label style="width: 100%">{{ h.scheming_language_text(field.label) }}</label>
</div>
{%- for lang in h.fluent_form_languages(field, entity_type, object_type, schema) -%}
  {% call form.markdown(
    field.field_name + '-' + lang,
    id='field-' + field.field_name + '-' + lang,
    label=h.get_locales_dict()[lang].display_name,
    placeholder=h.scheming_language_text(field.form_placeholder, lang),
    value=data[field.field_name + '-' + lang]
        or data.get(field.field_name, {})[lang],
    error=errors[field.field_name + '-' + lang],
    classes=['col-md-6']+(['no-margin-bottom'] if field.help_text else []),
    attrs=field.form_attrs or {'class': 'col-md-6'},
    is_required=h.scheming_field_required(field)
    ) %}
  {% endcall %}
{%- endfor -%}
<div class="form-group col-md-12">   
{%- snippet 'scheming/form_snippets/fluent_help_text.html',
      field=field,
      lang=request.environ.CKAN_LANG -%}
</div>